.card-base {
  background: #fff;
  border-radius: 10px;
  height: auto;
  min-height: 420px;
  width: 1100px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 6px 16px rgba(0, 0, 0, 0.06);

  transition: box-shadow 0.2s ease;
}

.registration-card {
  @extend .card-base;
}